$login-background: white;
$login-width: 100%;
$login-height: 100%;
.login-container {
  background-color: $login-background;
  height: $login-height;
  width: $login-width;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  // padding: 0 0;
  // margin: 0 0;

  padding-bottom: 0px;
}

.login-carousel {
  width: 65%;
  background-color: gray;
  position: relative;
}
.login-carousel-details {
  // width: 100%;
  // height: 100%;
  background-color: red;
}

.login-carousel-details img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.login-carousel-info {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.228);
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-carousel-info-logo {
  width: 200px;
  height: 30%;
  padding-left: 50px;
  padding-top: 55px;
}

.login-carousel-info-comment {
  padding-left: 50px;
  width: 80%;
  height: 30%;
  margin-top: -120px;
}
.login-carousel-info-comment p {
  color: white;
  font-weight: 500;
  font-size: 40px;
  text-align: left;
}

.login-carousel-info-agency {
  height: 30%;
}

.login-credentials {
  width: 35%;
  background-color: white;
}
