@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$login-background: white;
$login-width: 100%;
$login-height: 100vh;
$credentials-width: 100%;
.sign-container {
  background-color: $login-background;
  height: $login-height;
  width: $login-width;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  font-family: Montserrat;
  padding-bottom: 0px;
}

.sign-carousel {
  width: 70%;
  background-color: gray;
  position: relative;
}
.sign-carousel-details {
  width: 100%;
  height: 100%;
}

.sign-carousel-details img {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
}

.sign-carousel-info {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.228);
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
}

.sign-carousel-info-logo {
  width: 200px;
  height: 33%;
  padding-left: 50px;
  padding-top: 55px;
  margin-bottom: -70px;
}

.sign-carousel-info-comment {
  padding-left: 50px;
  width: 90%;
  height: 33%;
}
.sign-carousel-info-comment p {
  color: white;
  font-weight: 500;
  font-size: 40px;
}

.sign-carousel-info-agency {
  height: 30%;
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  margin-top: 40px;
  justify-content: space-between;
}

.sign-agency-desc {
  display: flex;
  flex-direction: column;
  color: white;
  height: 100%;
  padding-right: 20px;
  padding-left: 10px;
  background-color: black;
}

.sign-agency-desc :nth-child(1) {
  font-size: 30px;
  font-weight: 600;
  margin-top: 70px;
  margin-bottom: -10px;
}

.sign-agency-desc :nth-child(2) {
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: -8px;
}

.sign-agency-desc :nth-child(3) {
  font-size: 17px;
  font-weight: 500;
}

.sign-carousel-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding-right: 40px;
  margin-top: 100px;
}

.sign-carousel-star {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign-credentials {
  width: 30%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
  margin-right: 70px;
}

.sign-black-logo {
  height: 70px;
  margin-bottom: 10px;
}
.sign-credentials-header {
  color: black;
  display: flex;
  flex-direction: column;
  width: $credentials-width;
}
.sign-credentials-header :nth-child(1) {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: -10px;
}

.sign-credentials-header :nth-child(2) {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 40px;
}

.sign-credentials-field {
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: $credentials-width;
  margin-bottom: 5px;
}
.sign-credentials-field label {
  font-size: 17px;
  margin-bottom: -25px;
  font-weight: 600;
}
.sign-credentials-field input {
  height: 45px;
  font-size: 17px;
  margin-bottom: -5px;
  outline: none;
  border-radius: 7px;
  background: none;
  padding-left: 15px;
  border: 1px solid rgba(206, 206, 206, 0.906);
}

.sign-credentials-btn {
  margin-top: 30px;
}
.sign-create {
  height: 50px;
  border-radius: 7px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  width: $credentials-width;
  font-size: 18px;
  margin-top: 35px;
}

.sign-google {
  height: 45px;
  border-radius: 7px;
  background-color: white;
  border: 1px solid rgba(206, 206, 206, 0.906);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 550;
  width: $credentials-width;
  font-size: 18px;
  gap: 7px;
  margin-top: -20px;
}

.sign-span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: $credentials-width;
}

.sign-span span {
  width: 45%;
  border-bottom: 2px solid rgba(206, 206, 206, 0.564);
}
.sign-span p {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: rgba(90, 90, 90, 0.906);
}
.sign-direct {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: $credentials-width;
  font-size: 17px;
  margin-top: 10px;
}

.sign-direct span {
  font-weight: 600;
  text-decoration: underline;
}

@media only screen and (max-width: 425px) {
  .sign-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sign-carousel {
    display: none;
  }
  .sign-credentials {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sign-credentials-container {
    width: 80%;
    margin-top: -120px;
  }

  .sign-direct {
    margin-top: 15px;
  }
  .sign-credentials-header :nth-child(1) {
    font-weight: 700;
    font-size: 27px;
    margin-bottom: -10px;
  }

  .sign-credentials-header :nth-child(2) {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 40px;
  }

  .sign-google {
    font-size: 18px;
  }
  .sign-create {
    font-size: 18px;
  }
  .sign-credentials {
    margin-bottom: -90px;
  }
}
