$base-width: 100%;
$base-height: 500px;
$base-background: rgb(39, 138, 191);
$base-margin: 0px;
$base-padding: 0px;

body {
  // max-width: $base-width;
  // height: $base-height;
  background-color: $base-background;
  margin: $base-margin;
  padding: $base-padding;
  top: 0px;
  left: 0px;
  
}
